.department {
  display: flex;
  /* gap: 3px; */
  /* margin-top: 1rem; */
}

.minimised {
  cursor: pointer;
  scrollbar-highlight-color: none;
}

.subdepartments {
  margin: -1.3rem 0 -1.3rem 0;
}

.subpart {
  margin: -1rem;
}
