.department {
  display: flex;
  gap: 3px;
  margin-top: 1rem;
}

.minimised {
  cursor: pointer;
  scrollbar-highlight-color: none;
}

.subdepartments {
  margin-top: -1.2rem;
}

.subpart {
  margin: -1rem;
}
